intcom.web.Tests/Service References/CloudServices/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63771/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63771/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63771/Services.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_setAccessCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:setAccessCondition" />
  </wsdl:message>
  <wsdl:message name="IServices_setAccessCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:setAccessConditionResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_ulpload_InputMessage">
    <wsdl:part name="parameters" element="tns:ulpload" />
  </wsdl:message>
  <wsdl:message name="IServices_ulpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ulploadResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_download_InputMessage">
    <wsdl:part name="parameters" element="tns:download" />
  </wsdl:message>
  <wsdl:message name="IServices_download_OutputMessage">
    <wsdl:part name="parameters" element="tns:downloadResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="IServices_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="setAccessCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/setAccessCondition" message="tns:IServices_setAccessCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/setAccessConditionResponse" message="tns:IServices_setAccessCondition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ulpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/ulpload" message="tns:IServices_ulpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/ulploadResponse" message="tns:IServices_ulpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="download">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/download" message="tns:IServices_download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/downloadResponse" message="tns:IServices_download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/getAll" message="tns:IServices_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getAllResponse" message="tns:IServices_getAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setAccessCondition">
      <soap:operation soapAction="http://tempuri.org/IServices/setAccessCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ulpload">
      <soap:operation soapAction="http://tempuri.org/IServices/ulpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="download">
      <soap:operation soapAction="http://tempuri.org/IServices/download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/IServices/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:63771/Services.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>